:root {
    --Yellow: rgba(244, 208, 78, 1);
    --YellowHover: rgba(244, 208, 78, 0.7);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --fontFamily: 'Figtree', sans-serif;
}

body {
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    background-color: var(--White);
    width: 350px;
    padding: 1rem;
    border: 2px solid var(--Black);
    border-radius: 20px;
    box-shadow: 10px 10px var(--Black);
    margin: 0 1rem;
}

.container-image {
    text-align: center;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 12px;
}

.image-card {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.image-card:hover {
    transform: scale(1.2);
}

.type-card {
    background-color: var(--Yellow);
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    font-family: var(--fontFamily);
    font-weight: 800;
    margin-top: 0px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.type-card:hover {
    background-color: var(--YellowHover);
}

.date-card {
    font-family: var(--fontFamily);
    font-weight: 600;
}

.title-card {
    font-family: var(--fontFamily);
    font-weight: 800;
}

.copy-card {
    font-family: var(--fontFamily);
    font-weight: 600;
    opacity: .5;
}

.container-avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 32px;
    height: 32px;
}

.name-avatar {
    font-family: var(--fontFamily);
    font-weight: 800;
    cursor: pointer;
}